@font-face {
  font-family: Avenir;
  src: url('../assets/fonts/AvenirLTStd-Black.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url('../assets/fonts/AvenirLTStd-Roman.otf');
  font-weight: normal;
  font-style: normal;
}