@import "../css/playlist-list.css";
@import "../css/search.css";
@import "../css/navigation.css";
@import "../css/header.css";
@import "../css/sticky.css";

.page {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-end: 2rem;
}

.page-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page .header {
  margin-block-end: 1rem;
  margin-inline-start: -1.5rem;
  margin-inline-end: -1.5rem;
}