::-webkit-scrollbar {
  inline-size: .5rem;
  block-size: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--gray60);
}

::-webkit-scrollbar-track {
  background: var(--gray50);
}

/* ::-webkit-scrollbar-thumb:horizontal {
  background: pink;
}

::-webkit-scrollbar-thumb:vertical {
  background: khaki;
} */